[Unit]
Description=
After=
Wants=

[Service]
User=root
ExecStartPre=/bin/true
ExecStart=/bin/true
ExecStartPost=/bin/true
WorkingDirectory=/home
Restart=always

[Install]
WantedBy=multi-user.target